.nav {
  /* position: fixed;
  top: 0;
  left: 0; */
  /* height: 30px; */
  /* width: 100%;*/
  padding-top: 40px;
  background-color: #161633;
  /* border: none;
  display: flex;
  align-items: center; */
}

.home {
  margin: 10px;
  text-decoration: none;
}

.movies {
  margin: 10px;
  text-decoration: none;
}
