.container {
  display: flex;
  padding: 15px 20px 40px;
  margin-bottom: 0;
}

.wrap {
  padding: 20px 40px;
  box-shadow: 0px 5px 9px -2px rgba(115, 125, 133, 0.6);
}

.description_container {
  margin-left: 20px;
}

.list {
  list-style: none;
  display: flex;
  padding: 0;
}

.item {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 6px;
}

.item:not(:last-child) {
  margin-right: 8px;
}

.link_btn {
  text-decoration: none;
}

.link_btn {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  padding: 10px;
  border-radius: 20px;
  height: 10px;
  color: #fff;
}

.link_btn:hover {
  background: rgb(80, 80, 80);
}
